body#gsr.hp.vasq{
 background-image: url("http://interfacelift.com/wallpaper/previews/03514_duskatlakezurich_672x420.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}