.G-tF>.G-Ni>.T-I, .SI .G-tF>.G-Ni>.T-I {
    margin-left: 12px;
    margin-right: 12px;
}

.G-atb .T-I-ax7, .G-atb .T-I-ax7.T-I-JW, .G-atb .T-I-ax7.J-JN-M-I-JW, .G-atb .T-I-ax7.T-I-Js-Gs, .G-atb .T-I-ax7.T-I-JE, .G-atb .T-I-ax7:focus, .G-atb .T-I-ax7.T-I-Kq, .G-atb .T-I-ax7.J-JN-M-I-Kq, .xE .G-atb .T-I-ax7, .xE .G-atb .T-I-ax7.T-I-JW, .xE .G-atb .T-I-ax7.J-JN-M-I-JW, .xE .G-atb .T-I-ax7.T-I-Js-Gs, .xE .G-atb .T-I-ax7.T-I-JE, .xE .G-atb .T-I-ax7:focus, .xE .G-atb .T-I-ax7.T-I-Kq, .xE .G-atb .T-I-ax7.J-JN-M-I-Kq {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    min-width: auto;
    padding: 0;
}

.TI .T-I-ax7.T-I-Js-Gs, .G-atb .T-I-ax7.T-I-Js-Gs {
    margin-left: -1px;
    border-left: 1px solid rgba(0,0,0,0.1);
}

.T-I:not(.T-I-JE), .J-JN-M-I:not(.J-JN-M-I-JE) {
    cursor: pointer;
}

.TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7 {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
    background-image: linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
    background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,.85),rgba(247,247,247,.85));
    background-image: linear-gradient(to bottom,rgba(255,255,255,.85),rgba(247,247,247,.85));
}

.TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7 {
    border: 1px solid rgba(0,0,0,0.1);
    color: #444;
}

.T-I-ax7 {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-align-items: center;
    align-items: center;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    -webkit-justify-content: center;
    justify-content: center;
}

.T-I {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    line-height: 18px;
    min-width: auto;
    padding: 0;
}

.T-I-ax7 {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e0e0e0;
    background-image: -webkit-linear-gradient(top,transparent,transparent);
    background-image: linear-gradient(top,transparent,transparent);
    color: #444;
    border: 1px solid transparent;
    border: 1px solid transparent;
}

.T-I-Js-Gs {
    margin-left: -1px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.T-I-Js-Gs, .T-I-Js-IF {
    z-index: 1;
}

.T-I {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 18px;
    line-height: 18px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}

.J-J5-Ji {
    position: relative;
    display: inline-block;
}

.J-J5-Ji {
    display: -moz-inline-box;
    display: inline-block;
}
user agent stylesheet
div {
    display: block;
}

.aqL {
    white-space: nowrap;
}

.G-atb {
    margin-top: 4px;
    margin-left: -400px;
    padding: 0 32px 9px 400px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

body {
    color: #202124;
}

body, td, input, textarea, select {
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
body, td, input, textarea, select, #loading {
    font-family: arial,sans-serif;
}

.G-Ni>.T-I::before, .G-Ni>.T-I.T-I-JO::before, .G-Ni>.T-I.T-I-Je::before, .G-Ni>.T-I.T-I-Kq::before, .G-Ni~.T-I::before, .G-Ni~.T-I.T-I-JO::before, .G-Ni~.T-I.T-I-Je::before, .G-Ni~.T-I.T-I-Kq::before {
    content: none;
}

.T-I-ax7::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: -4px;
    left: -4px;
    right: -4px;
    top: -4px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform,opacity;
    border-radius: 4px;
}